*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-image: url();
}

h1 {
  font-family: 'Arial', sans-serif; /* ここに使用したいフォントを指定 */
  font-size: 2em; /* フォントサイズを指定（必要に応じて調整） */
  color: #000000; /* フォントの色を指定（必要に応じて調整） */
}

.stage {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  width: 344px;
  height: 384px;
}

.square {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid black;
  border-width: 0 4px 4px 0;
  cursor: pointer;;
}

.square:nth-child(-n + 6) {
  border-width: 4px 4px 4px 0;
  height: 54px;
}

.square:nth-child(6n + 1) {
  border-width: 0 4px 4px 4px;
  width: 54px;
}

.square:first-child {
  border-width: 4px;
  width: 54px;
  height: 54px;
}

.stone {
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 2px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: black;
}

#square-template {
  display: none;
}